body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    color: black;
}
header{
    padding:1rem;
}
hr{
    border: 0.5px solid #025E73;

}
main{
    padding:1rem;
    min-height: 50vh;
    overflow: scroll;
}
footer {
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: #025e73; 
    color: rgba(255, 255, 255, 0.797);
    padding: 2rem;  
}
footer a{
    color: rgba(255, 255, 255, 0.636);
}
a :hover{
    color: rgba(255, 255, 255, 0.636);
}

h2, h3{
    color: #025E73;
}
.container {
    margin: auto;
    padding: 0;
    display: flex;
    max-width: 500px;  
    column-gap: 1rem;
}

.item {
    text-align: center;
    border-radius: 5px;
    padding: 1rem;
}

.header {
    padding: 10px;
    margin: auto;
    text-align: center;
    background: #025E73;
    color: white;
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    color: black;
}

ul{
    padding: 0; 
    overflow: hidden;
}

li{
    float: initial;
    padding: 10px;

}
.contador{
    text-align: center;
    font-size: 1.5rem;
    color: #025E73;
    display: flex;
    justify-content: center;
    column-gap: 1rem;

}
.btn-contador{
    background-color: #025E73;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}
.btn-contador:hover{
    background-color: #025E73;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}