body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    color: black;
    display: grid;
}
header{
    padding:1rem;
}
hr{
    border: 0.5px solid #025E73;
}
main{
    max-width: 70vw;
    margin: auto;
    padding:1rem;
    min-height: 50vh;
    overflow: scroll;
}
footer {
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: #025e73; 
    color: rgba(255, 255, 255, 0.797);
    padding: 2rem;  
}
footer a{
    color: rgba(255, 255, 255, 0.636);
}
a :hover{
    color: rgba(255, 255, 255, 0.636);
}

h2, h3{
    color: #025E73;
}
.container {
    margin: auto;
    padding: 0;
    display: flex;
    max-width: 500px;  
    column-gap: 1rem;
}

.item {
    text-align: center;
    border-radius: 5px;
    padding: 1rem;
}

.header {
    width: 100vw;
    background-color: #025E73;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

ul{
    padding: 0; 
    overflow: hidden;
}

li{
    float: initial;
    padding: 10px;

}
.contador{
    text-align: center;
    font-size: 1.5rem;
    color: #025E73;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}
.btn-contador{
    background-color: #025E73;
    color: white;
    border: none;    
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}
.btn-contador:hover{
    background-color: #025E73;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

#resultado{
    font-size: 1rem;
    color: #025E73;
    font-weight: small;
}

input{
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #025E73;
    width: 100%;
    margin-bottom: 1rem;
}

button{
    background-color: #025E73;
    color: white;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

pre{    
    margin: 0;
    padding: 0;
}

/* Estilos para o menu flutuante */
.menu-flutuante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    visibility: hidden;
}

.menu-flutuante.active {
    visibility: visible;
}
.btn-flutuante{
    position: fixed;
    bottom: 20px;
    right: 20px;

}
.btn-flutuante button {
    /* Estilize o botão conforme suas preferências */
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.menu-flutuante ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-flutuante li {
    margin-bottom: 5px;
}

.menu-flutuante a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 5px 10px;
}

/* Estilize o menu conforme suas preferências */

/* Estilo de tabela */

/* Estilo base para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  
  
  /* Estilo para as células do cabeçalho */
  th {
    background-color: #025E73;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    color: white;
    text-align: center;
  }
  
  /* Estilo para as células da tabela */
  td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
  }
  
  /* Estilo para linhas pares */
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Estilo para linhas ímpares (opcional, já que as outras linhas ficarão brancas por padrão) */
  tr:nth-child(odd) {
    background-color: #fff;
  }
  
  .msg-alert{
    background-color: #025E73;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
  }

